---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/codemirror/lib/codemirror.css"
		/>
		<script
			src="https://kit.fontawesome.com/1779bb385a.js"
			crossorigin="anonymous"></script>

		<title>SQLite Server</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
